* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #222;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  backdrop-filter: blur(10px);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px rgba(128, 128, 128, 0.658);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 4.5rem;
  font-weight: 700;
  color: #1e90ff;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 3px;
  font-family: "Courier New", Courier, monospace;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.9rem;
  padding: 1.2rem 0;
}

.nav-bar a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 3.8rem;
}

.nav-bar a:hover {
  color: #00bfff;
  transform: translateY(-2px);
}

.btn {
  width: 256px;
  height: 105px;
  border-radius: 12px;
  background-color: #ff7a59;
  color: #fff;
  font-weight: 600;
  font-size: 2.8rem;
  border: none;
  cursor: pointer;
}

.hero-section {
  background-image: url("images/background.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section * {
  position: relative;
  z-index: 2;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.headline {
  font-size: 5.7rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-text {
  font-size: 3.7rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.journey {
  width: 446px;
  height: 105px;
  border-radius: 12px;
  font-size: 2.8rem;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.315);
  color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.315);
}
